body {
    background: black;
    cursor: none;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(0, 153, 255);
    font-size: 110px;
    font-family: cursive;
    letter-spacing: 2px;
    cursor: none;
}

.h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(0, 153, 255);
    font-size: 80px;
    cursor: none;
    font-family: cursive;
}